/* ^*============> Global var<============ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --navbar-bg-color: #006ac2;
  --container-bg-color: #e9e8e3;
  --block-bg-color: #d9d9d9;
  --btn-bg-color: #b1cddf;
}

.shadow-md {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.137) 0px 0px 8px !important;
}

.bg-light-gray {
  background-color: var(--container-bg-color);
}

.bg-gray {
  background-color: var(--block-bg-color);
}
a {
  text-decoration: none;
  color: inherit;
}
.w-18 {
  width: 18%;
}
.bg-light-blue{
  background-color: #B3CFE2;
}
.w-35{
  width: 35%;
}


.pb-25 {
    padding-bottom: 0.8rem !important;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
/* ^*=============>Navbar<===========  */
.navbar {
  background-color: var(--navbar-bg-color);
}
.me-6{
  margin-right: 5rem !important;
}
.me-45{
  margin-right: 2.5rem !important;
}

/* ^*=============>profile section<===========  */
.profile{
  background-image: url(../images/home-page-header.jpg);
  background-size: cover; 
  background-position: center; 
  height: 200px; 
}

.profile .container{
  position: relative;
  top: 90px;
}
.materials{
  position: relative;
}
.materials::before{
  position: absolute;
  content: "";
  top: 50px;
  right: 0;
  height: 1px;
  width: 45%;
  background-color: rgb(0, 0, 0);
  transform: translate(-65%);
}

.btn-light-blue {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--btn-bg-color);
  --bs-btn-border-color: var(--btn-bg-color);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #b4b4b8;
  --bs-btn-hover-border-color: #b4b4b8;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #3dd5f3;
  --bs-btn-active-border-color: #25cff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}


input,
button,
select,
optgroup,
textarea {
  margin: 0;
  padding-inline: 20px;
  padding-block: 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  box-shadow: none;
  background-color: var(--block-bg-color);
}