/* *============> Global var<============ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  
  
  --navbar-bg-color: #006ac2;
  --container-bg-color: #e9e8e3;
  --block-bg-color: #d9d9d9;
  --btn-bg-color: #b1cddf;
}

.shadow-md {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px !important;
}

.bg-light-gray {
  background-color: var(--container-bg-color);
}

.bg-gray {
  background-color: var(--block-bg-color);
}
a {
  text-decoration: none;
  color: inherit;
}
.w-18 {
  width: 18%;
}

/* *=============>Navbar<===========  */
.navbar {
  background-color: var(--navbar-bg-color);
}

/* *=============>Teaching Material section<===========  */
.term-link {
  background-color: var(--container-bg-color);
  transition: 0.2s;
}
.term-link:hover {
  background-color: var(--block-bg-color);
  border-radius: 10px;
}

.save-btn {
  background-color: var(--main-color);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 92px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: opacity 0.2s;
}

.save-btn:hover,
.save-btn:focus {
  opacity: 0.8;
}